<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
    <title>Panorama de Rede RNP</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
     <!-- Script para utilização do d3--> 
    <script src="https://d3js.org/d3.v5.min.js"></script> 
    <!-- div para criação do layout e do menu de navegação da RNP -->
    <div class="container=fluid">
        <div class="topo">
            <div class="logotipo">
                <img src="/static/imagens/rnp_logo.png" alt="Logotipo RNP" style="width:120px;height:80px;">
            </div>
            <div class="menubox">
                <nav class="menu"> 
                        <ul>
                            <li><a href="#">Administracao</a></li>
                            <li><a href="#">Ajuda</a></li>
                        </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Div principal com a div do svg e com os botões -->
    <div class="container_imagem_panorama">
        <!--Div para as rotas da RNP-->
        <div class="imagem_panorama">
           <!-- comando if para verificar se foi clicado no botão pesquisar e retorno na tela -->
            {% if result %}
                <div id="chart"></div>

                <button class="btn btn-primary btn-sm" id="button0" onclick="startRoute(0)"
                 type="button">Rota 1</button>
                <button class="btn btn-primary btn-sm" id="button1" onclick="startRoute(1)" 
                type="button">Rota 2</button>
                <button class="btn btn-primary btn-sm" id="button2" onclick="startRoute(2)" 
                type="button">Rota 3</button>
                <button class="btn btn-primary btn-sm" id="button3" onclick="startRoute(3)" 
                type="button">Rota 4</button>

                <!-- Script de criação do svg -->
                <script>
                    let dados = {{ melhoresRotas }}; // pega a lista das melhores rotas que vem do retorno do metodo montarRota da view do python
                    let listaLatenciaMaxima = {{ listaLatenciaMax }}; // pega a lista das latências máximas que vem do retorno do método montarRota da view do python
                    let nos = []; // cria uma lista de nós vazia
                    let chart_width = 1200; // define a largura do svg na tela
                    let chart_height = 1000; // define a altura do svg na tela
                    let posicaoInicialX = 0; // define a posição inicial no eixo x dos nós na tela 
                    let posicaoInicialY = 100; // define a posição inicial no eixo y dos nós na tela
                    let coordenadasDoEstado = []; // define uma lista com as coordenadas depois de inseridas
                    let melhoresRotasLista = {{ melhoresRotasLista }}; // lista com as melhores rotas rtornadas do método montarRota da view do python
                    let listaEstados = [{"id": 1, "estado": "AC"}, {"id": 2, "estado": "AL"}, {"id": 3, "estado": "AM"}, {"id": 4, "estado": "AP"}, 
                                        {"id": 5, "estado": "BA"}, {"id": 6, "estado": "CE"}, {"id": 7, "estado": "DF"}, {"id": 8, "estado": "ES"}, 
                                        {"id": 9, "estado": "GO"}, {"id": 10, "estado": "MA"}, {"id": 11, "estado": "MG"}, {"id": 12, "estado": "MS"}, 
                                        {"id": 13, "estado": "MT"}, {"id": 14, "estado": "PA"}, {"id": 15, "estado": "PB"}, {"id": 16, "estado": "PE"}, 
                                        {"id": 17, "estado": "PI"}, {"id": 18, "estado": "PR"}, {"id": 19, "estado": "RJ"}, {"id": 20, "estado": "RN"}, 
                                        {"id": 21, "estado": "RO"}, {"id": 22, "estado": "RR"}, {"id": 23, "estado": "RS"}, {"id": 24, "estado": "SC"}, 
                                        {"id": 25, "estado": "SE"}, {"id": 26, "estado": "SP"}, {"id": 27, "estado": "TO"}]; // todos os estados em formado de lista
                    let mudancaX = 1;

                    // objeto de coordenadas para guardar as coordenadas do nó
                    let Coordenate = function(id, x, y) {
                        this.parent = parent;
                        this.id = id;
                        this.x = x || 0;
                        this.y = y || 0;
                    }
                    for(let i = 0; i < Object.keys(dados).length; i++ ) {
                    nos.push(Object.keys(dados)[i]);      
                    } // adiciona o valor dos nós a lista de nós
                    let svg = d3.select('#chart')
                            .append('svg')
                            .attr('width',chart_width)
                            .attr('height', chart_height); // Cria o svg na div com id chart com a aulta e largura informadas pelas variáveis
                    
                    let groupPath = svg.append('g')
                                    .attr('render-order', -1)
                                    .attr('id','groupPath'); // criação de uma tag grupo g para os paths que serão inseridos
                    
                    let groupCircle = svg.append('g')
                                    .attr('render-order', 1); // criação de uma tag grupo g para os circles que serão inseridos 

                let circle = groupCircle.selectAll('circle') // criação dos circulos dentro do grupo de circulos
                        .data(nos)
                        .enter()
                        .append('circle')
                        .attr('r', 20)
                        .attr('cx',function(d, i){
                            if( i % 4 == 0 ) { // colocar na posição x do svg de acordo com a posição. Está condição garante que apenas serão 
                                               // colocados 4 ciruclos por linha
                                posicaoInicialX = 175;
                            }  else {
                                posicaoInicialX += 256; // adiciona um espaçamento para o próximo circulo a ser inserido
                            }
                            return posicaoInicialX; // retorna a posição do x do circulo
                        })
                        .attr('cy', function(d, i) { // colocar o circulo na posição y de acordo com a condição
                            if(i % 4 == 0 && i != 0) { // Condição para mudar a posição y do ciruclo a cada 4 ciruclos inseridos na tela
                                posicaoInicialY += 200;
                            } else if(i == 0 ) {
                                posicaoInicialY = 100;
                            }
                            if( i % 4 == 0 ) { // refaz a condição da posição x para inserit dentro do objeto
                                posicaoInicialX = 175;
                            }  else {
                                posicaoInicialX += 256; 
                            }
                            Object.assign(coordenadasDoEstado, {[d]: new Coordenate(d, posicaoInicialX, posicaoInicialY)}); // insserção das coordenadas
                            // dentro do objeto Coordenate com o id do nó e as coordenadas iniciais e finais do nó
                    
                            return posicaoInicialY; // retorna a posicção y do nó
                        })
                        .attr('fill', '#7ED26D') // cor do circulo qeu será plotado na trela
                        .attr('id', function(d){
                            return 'circle'+d;
                        }) // criação do id para cada tag circle criada 
                        .transition() // cria uma trasição para realocação dos circulos para que nenhum circulo fique em cima da linha
                        .duration(500)
                        .attr('cy',function(d, i){
                            i+=1;
                            if(i % 2 != 0) { // a cada dois ciruclos os segundo é reordenado sua posição
                                coordenadasDoEstado[d].y = coordenadasDoEstado[d].y - 50; // reposiciona o circulo de acodo com a condição
                            } 
                            return coordenadasDoEstado[d].y; // retoan a nova posição do nó no eixo y
                        })
                        .attr('cx', function(d,i){ // a posição no eixo x é modificada para que não fique em cima da linha
                            
                            if(mudancaX > 4 && mudancaX <= 8) { // omodifica a poiscão também no eixo x é feita uma condição a cada 4 estados 
                                coordenadasDoEstado[d].x = coordenadasDoEstado[d].x + 40;
                            } else if(mudancaX > 16 && mudancaX <= 20){
                                coordenadasDoEstado[d].x = coordenadasDoEstado[d].x + 40;
                            } else if(mudancaX > 24 && mudancaX <= 27) {
                                coordenadasDoEstado[d].x = coordenadasDoEstado[d].x + 40;
                            }
                            mudancaX += 1; // variável controladora dos estados, começando em 0
                            return coordenadasDoEstado[d].x; // retorna a nova coordenada x do circulo
                        });
                    let link = d3.line() // criação da linha para ligação entre os nós
                            .x(function(d) { return d.x; })
                            .y(function(d) { return d.y; })
                    .curve(d3.curveLinear); // seleciona uma curva para a linha quando necessário

                    for(let i = 0; i < Object.keys(dados).length; i++) {//função for para ciração das linhas
                        let keyNo = nos[i];
                        let ligacoesDiretas = dados[keyNo];
                        for(let j = 0; j < dados[keyNo].length; j++) { // para cada um dos nós selecionados criar uma linha ate o nó destino
                        let path = groupPath.append('path') // adiciona o path para ligar um nó origem e um nó destino
                        .transition() // cria uma transição para plotar as linhas
                        .duration(1000) // tem a duração e a demora de 1 segundo para lotar as linhas
                        .delay(1000)
                        .attr("d", function(d) { // criar a linhas de acordo com os valores de cada nó
                                if(ligacoesDiretas[j] != 0){   
                                    let noCorrodenadasOrigem = coordenadasDoEstado[keyNo];
                                    let noCoordenadasDestino = coordenadasDoEstado[ligacoesDiretas[j]];
                                    return "M" +(noCorrodenadasOrigem.x)+"," +noCorrodenadasOrigem.y +
                                    "L" +(noCoordenadasDestino.x) +","+noCoordenadasDestino.y;
                                }
                            })
                            .attr("class", "link") // adiciona uma classe para colocar estilo na linha
                            .attr('id', function(d) { // cria um id para cada linha plotada na tela
                                if(ligacoesDiretas[j] != 0) {
                                    return 'line-'+keyNo+'-'+ligacoesDiretas[j];
                                }
                                return 'line';
                            });
                        }
                    }
                    let text = svg.selectAll('text') // adiciona o texto dentro do circulo 
                            .data(nos)
                            .enter()
                            .append('text')
                            .attr('x',function(d, i){ // coloca o texto dentro da posição x - 8 pixels
                                return coordenadasDoEstado[d].x - 8;
                            })
                            .attr('y', function(d,i) { // coloca o texto na posição y mentos + 3 pixels
                                return coordenadasDoEstado[d].y + 3;
                            })
                            .text(function(d) { // adiciona o nome que será colocado dentro do circulo 
                                let value = getCountryByCode(d);
                                return value[0].estado; 
                            })
                            .attr('font-family', 'sans-serif') // define a fonte a ser usada
                            .attr('font-size','15px') // define o tamanho da fonte a ser usada
                            .attr('fill','white') // define a cor da conte a ser usada //
                    
                    function getCountryByCode(id) { // seleciona o nome do estado de acordo com o id passado
                        return listaEstados.filter(
                            function(listaEstados){ return listaEstados.id == id });
                    }
                    function transform(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    }
                function startRoute(id) { // ao clicar em um dos botões inicia-se a animação para a rota selecionada
                        groupPath.selectAll('path')
                                .attr('class', 'link');
                        let button = d3.select('#button'+id)
                        .attr('class',function(){
                            let rotaEscolhida = melhoresRotasLista[id];
                            for(let i = 0; i < rotaEscolhida.length -1; i++) {
                                let startPoint = rotaEscolhida[i];
                                let endPoint = rotaEscolhida[i+1];
                                d3.select("#line-"+startPoint+'-'+endPoint).attr("class", "linkAnimation");
                            }
                            return 'green';
                        })  

                    var h3 = document.getElementById('latenciaMax');
                    h3.innerHTML = 'Latência Máxima: '+listaLatenciaMaxima[id] + 'ms';  
                        
                }
                                  
             </script>

            {% else %}

                    <div id="chart"></div>

            {% endif %}

        </div>
        <!--Fim da Div para imagem panorama-->
        <div class="pesquisa_form"> 

                <form action="/rotas/montar" method="post">
                    {% csrf_token %}
                <label>Origem:</label>
                    <select name="origem">
                        {% for option in options %}
                        <option  value="{{option.id}}">{{ option.estado }}</option>
                        {% endfor %}
                    </select>
                    <br/><br/>
                    <label>Destino:</label>
                    <select name="destino">
                        {% for option in options %}
                        <option value="{{option.id}}">{{ option.estado }}</option>
                        {% endfor %}
                    </select>
                    <br/><br/>
                    <label>Data da Pesquisa:</label>
                    <input type="date" name="dataPesquisa"/>
                    <input class="btn btn-primary btn-sm" type="submit" value="Pesquisar" />      
                </form>
                <div class="painel_resultados">
                    <h3>Número de Rotas: {{ numeroRotas }} </h3>
                    <h3 id="latenciaMin">Latência Miníma: </h3>
                    <h3 id="latenciaMax">Latência Máxima: </h3>
                    <h3>Perda: </h3>
                    <div class="link_disponivel">
                        <h3>Link Disponível <img src="/static/imagens/checked.svg"></h3>
                </div>
                    <!--Fim do painel de informações sobre rota escolhida-->
                </div>
            </div>
        </div>
    <div class="footer">
        <p>copyright © 2019</p>
    </div>
<!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>